@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  background: radial-gradient(circle, rgba(20, 43, 62, 0.798) 20%, #0a0a0a 90%);
  color: #f3f4f6;
  min-height: 100vh;
}


@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}

@layer utilities {
  @keyframes loading {
    0% {
      transform: translate(-100%);
    }

    100% {
      transform: translate(250%);
    }
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}
